/*------------------
GENERAL CSS
-------------------*/

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

section {
    border-bottom: 5px solid rgb(255, 176, 59);
}

.header-h {
    color: #FFB03B;
    font-size: 4vw;
    font-family: 'Handlee', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

.header-p {
    color: #9699a6;
    font-size: 1.5vw;
}

h2{
    color: #FFB03B;
    font-size: 34px;
    font-family: 'Handlee', sans-serif;
    font-weight: 300;
}

strong{
    color: #FFB03B;
}
/*------------------
GENERAL CSS END
-------------------*/


/*------------------------
BACKGROUND IMAGE/VIDEO
-------------------------*/
#homepage {
    width:100%;
    height:100vh;
    overflow: hidden;
}

#homepage div{
    float: left;
}

#homepage video {
    object-fit: cover;
    width:100%;
    height:100%;
    z-index: -1;
}

.homepage-text {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 40%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    animation-duration: 1.5s;
}


/*---------------------------
BACKGROUND IMAGE/VIDEO END
---------------------------*/

/*--------------------------
BANNER
---------------------------*/

.bg-color{
    background-color: RGBA(0, 0, 0, 0.5);
    height: 100vh;
}

#banner h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    color: #FFB03B;
}

#banner p{
    font-family: 'PT Sans', sans-serif;
    color: #fcfcfc;
    font-size: 34px;
}

.section-padding{
    padding: 60px 0px;
}

#my-name{
    font-family: 'Handlee', cursive;
    font-size: 8vw;
    margin-top: 140px;
    color: #FFB03B;
}

#my-description{
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 2.5vw;
}

#my-animation{
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    animation-delay: 1.5s;
    display: none;
    font-size: 2.5vw;
}

/*--------------------------
BANNER END
---------------------------*/

/*--------------------------
NAVIGATION
---------------------------*/

.sidenav {
    font-family: 'Shadows Into Light', cursive;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.menu-icon
{
    color: #FFB03B;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    z-index: 5;

    animation-delay: 2s;
}

/*--------------------------
NAVIGATION END
---------------------------*/

#wallpaper{
    background: url('/img/about-bg2.png') -25px -50px;
    position: relative;
    top:0;
    width:100%;
    height:100%;
    z-index: 3;
    background-size: calc(20%);
}

#chessboard{
    background: url('/img/skillsbgblur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    z-index: 4;
}

/*-------------------
ABOUT SECTION
--------------------*/

.marb-35{
    margin-bottom: 35px;
}

#about{
    margin:0;
    min-height: 100vh;
    font-family:"arial",heletica,sans-serif;
    font-size:12px;
}

#about div.container{
    width: 100vw;
    margin: 0;
}

#about-picture{
    display: flex;
    width: 100%;
    margin: auto;
}

#my-pic{
    width: 20vw;
    height: 100%;
    margin: 0 20px 40px 20px;
    display: block;
    float: left;
    border: 2px solid rgb(255, 176, 59);
    border-radius: 10px;
}

#picture-content{
    font-size: 1.5vw;
    width: 70vw;
    padding: 2.5%;
    margin-right: 20px;
    background: rgba(255,255,255,0.6);
    border: 2px solid #FFB03B;
    border-radius: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#about-content{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

#myskills{
    border-bottom: 0;
}

#myskills div{
}

/* Style the tab */
div.skills-tab {
    width: 100vw;
    height: 40vh;
    margin: 4% 2% 0 2%;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-decoration: none;
}

/* Style the buttons inside the tab */
div.skills-tab button {
    font-size: 5vw;
    width: 15%;
    height: 25vh;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 4% 5%;
    border-radius: 50%;
    border: 1px solid #FFB03B;
    background: rgba(255,255,255,0.8);
    color: #FFB03B;
}

/* Change background color of buttons on hover */
div.skills-tab button:hover {
    background: #FFB03B;
    color: #fff;
}

/* Create an active/current tablink class */
div.skills-tab button.active {
    background: #FFB03B;
    color: #fff;
    border: 1px solid #FFB03B;
}

/* Style the tab content */
.skills-content {
    width: 80vw;
    font-size: 1.3em;
    display: none;
    padding: 6px 12px;
    border: 4px solid #FFB03B;
    border-radius: 10px;
    margin: 0 10vw 1% 10vw   ;
    margin-bottom: 4%;
    background: rgba(255,255,255,0.8);
}

.skills-content h1{
    text-decoration: none;
    text-align: center;
}

.skills-content div{
    width: 100%;
}

.skills-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*--------------------
ABOUT SECTION ENDS
---------------------*/



/*--------------------------
EDUCATION
---------------------------*/

#education{
    min-height: 100vh;
}


#education div.container{
    width: 100vw;
    margin: 0;
}

/* ACCORDION CSS */
button.accordion {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    border: 1px solid #FFB03B;
    background: rgba(255,255,255,0.9);
    text-align: left;
    outline: none;
    font-size: 1.2vw;
    transition: 0.4s;
    text-decoration: none;
}

button.accordion.active, button.accordion:hover {
    background: #FFB03B;
    color: #fff;
    border: 1px solid #FFB03B;
}

div.panel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #FFB03B;
    border-radius: 0;
    background: rgba(255,255,255,0.9);
    font-size: 1.3vw;
}

#education .header-p{
    color: #FFB03B;
}

#sfcf-logo{
    height: inherit;
    width: 100%;
    border: 1px solid #FFB03B;
}

#uob-logo{
    height: inherit;
    width: 100%;
    border: 1px solid #FFB03B;
    padding-bottom: 10px;
}

#justit-logo{
    height: inherit;
    width: 100%;
    border: 1px solid #FFB03B;
}

.pic{
    height: 15vh;
    width: 12%;
    margin: 1% auto;
    background: white;
}


#education ul li{
    color: black;
    display: block;
    margin: 0;
    color: #717f86;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}



/*--------------------
PROJECT SECTION
---------------------*/

#Container .mix{
    display: none;
}

.project-list{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}

.project-list .project-title {
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFB03B;
}

.project-list .project-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.project-list .project-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.project-list .project-subtitle {
    display: block;
    float: left;
    color: #B1B1B1;
    font-family: Shadows Into Light,'Open Sans',arial;
    font-size: 1.2rem;
}

.project-list span.clearfix {
    position: relative;
    display: block;
}

.gallery-trigger ul li a.active, .gallery-trigger ul li a:hover {
    background: #FFB03B;
    color: #fff;
    border: 1px solid #FFB03B;
}

.gallery-trigger ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.gallery-trigger ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

/*-------------------
PROJECT SECTION ENDS
--------------------*/

/*--------------------------
CONTACT
---------------------------*/

#contact{
    background: url(../img/contactimage.jpeg) no-repeat center top;
    background-color: rgba(221, 221, 221, 0.33);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100vw;
    height: auto;
    font-size: 1.5em;
    background-attachment: fixed;
}

.msg-row {
    margin-top: 56px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.bg-13 {background-color: #f04e4e;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.contact-icon {
    color: #fff;
    position: absolute;
    left: 34px;
    font-size: 32px;
    margin-top: 18px;
}

.bg-1 {
    background-color: #fecc17;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bg-14 {
    background-color: #ccdb38;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.dark-blue {
    color: #FFB03B;
    font-size: 24px;
    margin-top: 0;
}

.light-blue {
    color: #9699a6; !important
    font-size: 16px;
    margin-bottom: 1px;
}

.light-blue  a{
    color: #9699a6;
}
.light-blue  a:hover{
    color: #31364c;
    cursor: pointer;
}

.media-body {
    margin-left: 10px;
    padding-left: 13px;
}

.media-2 {
    margin-top: 30px;
}

.newinput .form-group {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}

.contact-form .form-control {
    color: #FFB03B !important;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}


#contact-contents{
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 30px;
    z-index: 2;
    width: 80%
}

.contact-form {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}

.contact-form textarea.form-control {
    color: #FFB03B !important;
    height: auto;
}

.contacts-btn {
    background-color:  #FFB03B !important;
    color: #ffffff !important;
    width: 170px;
    height: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    border: 0px;
    color: #000 !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}


.alert-success{
    color: white;
    margin-top: 5px;
}


.alert-danger{
    color:white;
    background-color: darkred;
    border: 1px solid darkred;
    margin-top: 5px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

.phone-in-talk, .CV-icon
{
    font-size: 35px;
    line-height: 70px;
    color: rgb(255, 255, 255);
}

@-webkit-keyframes autofill {
    to {
        color: #FFB03B;
        background: transparent;
        border-bottom: 0.5px solid white;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/*-------------------
FOOTER
--------------------*/
.footer {
    width: 100%;
    margin: 0;
    background-color: #222;
    position: relative;
    z-index: 1;
}

.footer ..row {
    margin: 0;
}

.footer a {
    color: #fff;
}

.footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.footer .widget-title, .footer .widget-title a {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #999;
}

.footer .widget-title{
    padding-bottom: 20px;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 44px;
    color: #FFB03B;
}

.footer .widget, .footer address {
    color: #999;
    text-transform: none;
    font-style: normal;
    padding-bottom: 15px;
}

.footer .navigation, .footer .social-list {
    float: none;
    margin-bottom: 20px;
}

.list-horizontal li {
    display: inline-block;
}



.footer .social-list a {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
}



/*------------------
MEDIA QUERIES
-------------------*/

@media (min-width: 768px) and (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }

    #about-picture{
        height: 55vh;
        margin: 0;
    }

    #my-pic{
        height: 100%;
        width: 20vw;
    }

    #picture-content{
        width: 70vw;
        min-height: 40vh;
        font-size: 1.3em;
    }
    .details-text p {
        line-height: 16.6px;
    }

    div.skills-tab button {
        font-size: 4em;
    }
    div.panel {
        font-size: 2em;
    }

    button.accordion {
        padding: 10px;
        font-size: 1.5vw;
    }
}







@media (min-width: 450px) and (max-width: 767px) {


    .header-h {
        font-size: 7vw;
    }

    .header-p, body{
        font-size: 3vw;
    }

    #about-picture{
        display: inline-block;
    }

    #my-pic{
        height: 70vh;
        width: 50%;
        margin: 0 25%;
    }

    #picture-content{
        width: 80%;
        min-height: 40vh;
        margin: 5% 10%;
        font-size: 1.2em;
    }

    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }

    div.skills-tab button {
        margin: 4% 2%;
        font-size: 8vw;
        width: 20%;
        height: 25vh;
    }

    .skills-content{
        margin-top: 0;
        -webkit-align-items: start;
        min-width: 40%;
        font-size 1.5em;
    }

    button.accordion {
        padding: 10px;
        font-size: 2vw;
    }

    div.panel{
        font-size: 1em;
    }

    .pic{
        width: 18%;
    }

    #contact{
        font-size: 0.8em;
    }

    #my-contact{
        margin-bottom: 4%;
    }

    .msg-row {
        margin-top: 0;
    }

}







@media (min-width: 20px) and (max-width: 450px) {

    .project-list {
        width: 100%;
    }

    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }

    .skills-content{
        -webkit-align-items: start;
        min-width: 80%;
    }

    #about-content{
        height: 100%;
        width: 100%;
        display: inline-block;
    }



    div.skills-tab{
        float: left;
        height: auto;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: 20%;
    }

    div.skills-tab button{
        width: 100%;
        height: auto;
        font-size: 3em;
        margin: 0;
        padding: 0;
        border: 1px solid #FFB03B;
        border-radius: 0;
    }


    .skills-content{
        font-size: 1.2em;
        float: left;
        border: 1px solid #FFB03B;
        width: 80%;
        min-height: 290px;
        margin: 0;
        margin-top: 20%;
        border-radius: 0;
        animation-direction: alternate-reverse;
    }

    .header-h {
        font-size: 35px;
    }

    .header-p, body{
        font-size: 14px;
    }

    .about-info, .mr-15{
        margin-bottom: 15px;
    }

    #about-picture{
        display: inline-block;
    }

    #my-pic{
        height: 25%;
        width: 80%;
        margin: 0 10%;
    }

    #picture-content{
        width: 80%;
        min-height: 40vh;
        margin: 5% 10%;
        font-size: 1em;
    }

    #banner h2{
        font-size: 25px;
    }

    #banner p{
        font-size: 25px;
    }

    button.accordion {
        padding: 10px;
        font-size: 3vw;
    }

    div.panel{
        font-size: 1em;
    }

    .pic{
        height: 15vh;
        width: 22%;
    }

    .msg-row {
        margin-top: 0;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
